.jumbotron {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
.resume {
  .alert {
      display: none;
  }
}
.resume.invalid {
  input:invalid {
      border-color: red($color: #f30606ed);
      & ~ .alert {
          display: block;
      }
  }
  textarea:invalid {
    border-color: red($color: #f30606ed);
      & ~ .alert {
          display: block;
      }
  }
}

.list-item {
  font-size: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  cursor: pointer;

  &.active {
    background-color: rgba(61, 59, 226, 0.2);
  }

  &:hover {
    color: rgb(61, 59, 226);
  }

  h5 {
    margin-bottom: 0.25rem;
  }

  small {
    color: rgba(#222, 0.6);
  }

  h5, small {
    pointer-events: none;
  }
}